body{
    margin: 0;
    background-color: darkseagreen;
    text-align: center;
}

.container{
    text-align: center;
    padding: 50px;
    background: lightseagreen;
}

#click-btn{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: darkseagreen;
    color: #fff;
}
#click-btn:hover{
    background: linear-gradient(rgb(46, 126, 122), darkseagreen);
}

#click-btn p{
    margin: 0 10px;
    color: #fff;
    font-size: 10px;
}

#input-el{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    background: darkseagreen;
    box-shadow: 1px 2px 10px #000;
}
#input-el:focus{
    outline: none;
}
#input-el:hover{
    box-shadow: 2px 4px 15px #000;
}

#span-el1{ 
    padding: 0;
    margin-top: 100px;
}
#span-el{
    padding: 5px 100px;
    background: rgb(137, 172, 137);
    font-weight: bold;
    border-radius: 50px;
    font-style: normal;
}

#error{
    font-style: italic;
    color: darkred;
    font-weight: bold;
}